<button (click)="onShowDetail(1250)">Detalle not found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <p>{{ productChosen.description }}</p>
    <swiper [slidesPerView]="1" [spaceBetween]="0">
      <ng-template swiperSlide *ngFor="let image of productChosen.images"
        ><img [src]="image"
      /></ng-template>
    </swiper>
  </div>
</div>
